body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calaculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    max-width: 500px;
    border-radius: 1rem;
    overflow: hidden;
}

.display {
    width: 100%;
    border: none;
    padding: 30;
    font-size: 6rem;
    background-color: rgb(27, 27, 27);
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
    background-color: rgb(54, 54, 54);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.operatorVertical {
    background-color: rgb(255, 172, 18);
}

.operatorHorizontal, .acButton {
    background-color: rgb(115, 115, 115);
}

